[tool.poetry]
name = "semantic-router"
version = "0.0.7"
description = "Super fast semantic router for AI decision making"
authors = [
    "James Briggs <james@aurelio.ai>",
    "Siraj Aizlewood <siraj@aurelio.ai>",
    "Simonas Jakubonis <simonas@aurelio.ai>",
    "Luca Mannini <luca@aurelio.ai>",
    "Bogdan Buduroiu <bogdan@aurelio.ai>"
]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"
pydantic = "^1.8.2"
openai = "^0.28.1"
cohere = "^4.32"
numpy = "^1.25.2"
pinecone-text = "^0.7.0"
colorlog = "^6.8.0"


[tool.poetry.group.dev.dependencies]
ipykernel = "^6.26.0"
ruff = "^0.1.5"
black = {extras = ["jupyter"], version = "^23.12.0"}
pytest = "^7.4.3"
pytest-mock = "^3.12.0"
pytest-cov = "^4.1.0"
pytest-xdist = "^3.5.0"
mypy = "^1.7.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.ruff.per-file-ignores]
"*.ipynb" = ["E402"]

[tool.mypy]
ignore_missing_imports = true
