[tool.poetry]
name = "semantic-router"
version = "0.0.1"
description = "Super fast semantic router for AI decision making"
authors = [
    "James Briggs <james@aurelio.ai>",
    "Siraj Aizlewood <siraj@aurelio.ai>",
    "Simonas Jakubonis <simonas@aurelio.ai>"
]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
pydantic = "^2.4.2"
openai = "^0.28.1"
cohere = "^4.32"


[tool.poetry.group.dev.dependencies]
ipykernel = "^6.26.0"
ruff = "^0.1.5"
black = "^23.11.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
